@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Cyber;
	src: url("/fonts/cyber.ttf");
}  

body {
	font-family: Cyber;
    @apply bg-gray-950;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
    
/* Track */
::-webkit-scrollbar-track {
    @apply bg-darker;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-cyan-500;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-cyan-600;
}
    