@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Cyber;
	src: url("/fonts/cyber.ttf");
}  

body {
	font-family: Cyber;
    @apply bg-neutral-950;
}

/* Background */
.background-container {
    /*@apply bg-neutral-950;*/
    @apply fixed top-0 left-0 bottom-0 right-0 hidden md:flex items-center justify-center;
}

/*.background {
    position: absolute;
    bottom: -55rem;
    : linear-gradient(#ffffff00, #ffffff50);
    border-radius:50%;
    background: linear-gradient(rgba(38, 38, 38, 0), rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0.5), rgba(38, 38, 38, 0.8), #262626);
    filter: blur(50px);
    overflow: hidden;
    @apply w-[90rem] h-[90rem] rounded-full;
}*/

.background {
    position: absolute;
    width: 165vh;
    aspect-ratio: 1/1;
    bottom: -105vh;
    @apply rounded-full bg-gradient-to-t from-neutral-900 to-transparent;
    background-attachment:fixed; 
}

.cn-tower {
    position: absolute;
    width: 80vh;
    bottom: 0;
    right: 6vw;
}

.blur{
    overflow:hidden;
    filter: blur(8px);
  }

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
    
/* Track */
::-webkit-scrollbar-track {
    @apply bg-darker;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-cyan-500;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-cyan-600;
}
    